{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
      {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">
        <button type="button" class="close" style="font-family: 'Itim', cursive; color:black;" data-dismiss="alert">&times;</button>
        {{ message }}
        </div>
      {% endfor %}
     
      <div class="row col-md-10 mt-5" style="height: 50vh;">
          <div class="card" style="min-height: 450px; margin-left: 400px; box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6); background:#00c5ad;
          max-width: 600px; position: relative; font-family: 'Itim', cursive;">
              <div class="card-heading text-center mt-5">
                  <div style="width: 500px; margin-left: 20px; margin-right:20px; padding-top: 50px; font-family: 'Itim', cursive;"> {{wtf.quick_form(login_form)}}</div>
      <p style="font-family: 'Itim', cursive;"> Don't have an account? <a style="font-family: 'Itim', cursive; color:whitesmoke" href="{{url_for('auth.register')}}">Sign up</a></p>
     </div>
      </div>
    </div>
</div>

{% endblock%}
