<html>
{% block styles %}

<link href="https://fonts.googleapis.com/css?family=Itim&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta charset="utf-8">
{% endblock %}

<body>
    {% block navbar %}
    {% include "navbar.html" %}
    {% endblock %}
    {% block content %}

    {% endblock %}
    {% block scripts %}
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/css/mdb.min.css" rel="stylesheet">
    {% endblock %}
</body>

</html>

<style>
body{
    background-image:url("https://pikwizard.com/photos/f097e9636f2324ccd81d0ad8b878a887-m.jpg")
}
    </style>